@model ZarzadzanieZamowieniami.Models.Zamowienie
@{
    ViewData["Title"] = "Szczegóły Zamówienia";
}

<h1>Szczegóły Zamówienia</h1>

<div class="form-group">
    <label>Data złożenia:</label>
    <p>@Model.DataZlozenia.ToString("yyyy-MM-dd HH:mm")</p>
</div>
<div class="form-group">
    <label>Status:</label>
    <p>@Model.Status</p>
</div>
<div class="form-group">
    <label>Klient:</label>
    <p>@Model.Klient?.Nazwisko</p>
</div>

<h3>Pozycje zamówienia:</h3>
<table class="table">
    <thead>
        <tr>
            <th>Produkt</th>
            <th>Ilość</th>
            <th>Cena jednostkowa</th>
            <th>Łączna cena</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pozycja in Model.PozycjeZamowienia)
        {
            <tr>
                <td>@pozycja.Produkt.Nazwa</td>
                <td>@pozycja.Ilosc</td>
                <td>@string.Format("{0:C}", pozycja.Produkt.Cena)</td>
                <td>@string.Format("{0:C}", pozycja.Ilosc * pozycja.Produkt.Cena)</td>

            </tr>
        }
    </tbody>
</table>



<div>
    <a asp-action="Index" class="btn btn-secondary">Powrót do listy</a>
</div>
